.footer {
  font-size: 14px;
  color: $grey-dark;

  img { border: none; }
}

.footer-inner { text-align: center; }

.with-love {
  display: inline-block;
  margin: 0 5px;
}

.powered-by,
.theme-info { display: inline-block; }

.powered-by {
  margin-right: 10px;

  &::after {
    content: "|";
    padding-left: 10px;
  }
}

.cc-license {
  margin-top: 10px;
  text-align: center;

  .cc-opacity {
    opacity: 0.7;
    border-bottom: none;

    &:hover { opacity: 0.9; }
  }

  img { display: inline-block; }
}

.weixin-box {
  position: absolute;
  bottom: 43px;
  left: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.weixin-menu {
  position: relative;
  height: 24px;
  width: 24px;
  cursor: pointer;
  background: url(https://github.com/AmorFati-coder/amorfati.github.io/blob/master/1631792162.svg);
  background-size: 24px 24px;
}
.weixin-hover {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
  background: url(https://github.com/AmorFati-coder/amorfati.github.io/blob/master/1631792162.svg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  transition: all 0.35s ease-in-out;
  z-index: 1024;
  opacity: 0;
}
.weixin-menu:hover .weixin-hover {
  bottom: 24px;
  left: 24px;
  height: 170px;
  width: 150px;
  opacity: 1;
}
.weixin-description {
  opacity: 0;
  position: absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;
  font-size: 12px;
  transition: all 0.35s cubic-bezier(1, 0, 0, 1);
}
.weixin-menu:hover .weixin-description {
  opacity: 1;
}
